<!DOCTYPE HTML>
<!--
	Directive by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>shelfie</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="{{root}}/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="{{root}}/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="{{root}}/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<div id="header">
				<span class="logo icon fa-book"></span>
        <h1>But frist, let me take a
          <a href=https://twitter.com/search?q=%23shelfie>#shelfie</a></h1>
			</div>

		<!-- Main -->
			<div id="main">

				<header class="major container 75%">
          <h2>Like selfies? Like books?</h2>
					
          <p>
            shelfie allows you to find new books for your library, from the
            ones you already have. All you have to do is take a
            <a href=https://twitter.com/search?q=%23shelfie>#shelfie</a>
          </p>
				</header>

				<div class="box alt container">
					<section class="feature left">
            <a class="image icon fa-mobile"><img src="{{root}}/images/pic01.jpg" alt="" /></a>
						<div class="content">
							<h3>Take a picture</h3>
							<p>
                Use your smart phone to take a picture of your bookcase, filled
                with your favorite books
              </p>
						</div>
					</section>
					<section class="feature right">
						<a class="image icon fa-code"><img src="{{root}}/images/pic02.jpg" alt="" /></a>
						<div class="content">
							<h3>Let us to the work</h3>
							<p>
                Upload your picture to our servers, and we'll work on 
                finding good fits for your library
              </p>
						</div>
					</section>
					<section class="feature left">
						<a class="image icon fa-shopping-cart"><img src="{{root}}/images/pic03.jpg" alt="" /></a>
						<div class="content">
							<h3>Add to your collection</h3>
							<p>
                We'll send you an Amazon purchase link and even a Google Books 
                preview for your next book
              </p>
						</div>
					</section>
				</div>
			</div>

		<!-- Footer -->
			<div id="footer">
				<div class="container 75%">

					<ul class="icons">
						<li><a href="https://github.com/alexoneill/shelfie-server" class="icon fa-github"><span class="label">Find us on Github</span></a></li>
					</ul>

					<ul class="copyright">
					  <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

				</div>
			</div>

		<!-- Scripts -->
    <script src="{{root}}/js/jquery.min.js"></script>
    <script src="{{root}}/js/skel.min.js"></script>
    <script src="{{root}}/js/util.js"></script>
    <!--[if lte IE 8]><script src="{{root}}/js/ie/respond.min.js"></script><![endif]-->
    <script src="{{root}}/js/main.js"></script>

	</body>
</html>
